<p>
  Average Age: <%= @average_age %>
  </p>

<% @astronauts.each do |astronaut| %>
  <div id="astronaut-<%= astronaut.id %>">
    <%= astronaut.name %>
    Age: <%= astronaut.age %>
    Job: <%= astronaut.job %>
    Missions: 
    <% astronaut.sorted_missions.each do |mission| %>
      <p><%= mission.title %></p>
    <% end %>
    Total Time in Space: <%= astronaut.total_time_in_space %>
  </div>
<% end %>